.btn {
    background: purple;
    padding: 0 16px;
    color: blue;
    font-size: 14px;
    line-height: 34px;
    border: 1px solid blue;
    border-radius: 3px;
    display: inline-block;
    cursor: pointer;
}

.input {
    width: 250px;
    height: 34px;
    display: block;
    margin-bottom: 14px;
    padding: 0 12px;
    outline: none; 
    box-sizing: border-box;
    font-size: 14px;
    line-height: 34px;
}

.checkbox-box {
    width: 16px;
    height: 16px;
    background: mediumpurple;
    border: 1px solid black;
}